body{
    background-color: black;
}

#mrk{
    color:tan;
}

.header{
    display: flex;
    background-color:  #101820;
    margin: 0;
    border-radius: 3px;
    padding: 20px;
}

.primary{
    display: flex;
    justify-content:center;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:  #383a3d;
    width: 1500px;
    height: 500px;
    padding: 20px;
    border-radius: 15px;
}

.input-container{
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 30px;
    width: 600px;
    margin-top: 20px;
}

.status{
    cursor:pointer;
    height: 30px;
    margin: 22px 0 0 40px;
    border-radius: 10px;
    background-color: black;
    border: none;
    color: #c5ced1;
    font-family: monospace;
    font-weight:bolder;
    text-align: center;
}


.save-button{
    background-color:black;
    border-radius: 10px;
    height: 30px;
    width: 150px;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    margin: 22px 0 0 50px;
    cursor: pointer;
    border: none;
    color: #c5ced1;
}

#Title{
    color: antiquewhite;
    font-family: monospace;
    font-size: 50px;
}

#bookmark-icon{
    color: white;
    margin: 35px 30px 0 50px;
    font-size: 55px;
}

#msg{
    color:#f25e5e;
    flex-direction: column;
}

#Book{
    color:#ebdfb9;
    font-size: 16px;
    font-family: monospace;
    margin: 20px 0 0 50px;
}

#edit, #delete, #set{
    cursor: pointer;
    border: none;
    text-decoration: none;
}

#edit{
    font-size: 15px;
    color: #79aebd;
    margin-left: 20px;
}

#delete{
    font-size: 15px;
    color: #bd5155;
    margin-left: 15px;
}

#set{
    font-size: 15px;
    color: #79aebd;
    margin-left: 15px;
}

